* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Red Hat Display", sans-serif;
}

body {
	background-image: url(../images/pattern-background-mobile.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-color: hsl(225, 100%, 94%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

img {
	max-width: 100%;
}
.card {
	border-radius: 25px;
	margin: 3.5rem 2rem;
	background-color: white;
	overflow: hidden;
	text-align: center;
}

.content h1 {
	font-size: 1.4rem;
	font-weight: 900;
	color: hsl(223, 47%, 23%);
	padding: 1rem;
}

.content p {
	font-size: 16px;
	padding: 0.5rem 1.7rem;
	line-height: 1.4rem;
	color: hsl(224, 23%, 55%);
}

.payments {
	display: flex;
	flex: 1;
	justify-content: space-evenly;
	align-items: center;
	font-size: 0.9rem;
	margin: 0.5rem 1.3rem;
	padding: 0.5rem;
	border-radius: 15px;
	background-color: hsl(225, 100%, 98%);
	font-weight: 900;
}

.plan {
	margin-right: 1.3rem;
}
.plan p:nth-child(1) {
	color: hsl(223, 47%, 23%);
}

.plan p:nth-child(2) {
	color: hsl(224, 23%, 55%);
	font-family: none;
}

.buttons {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	margin-bottom: 1rem;
}

.buttons a {
	text-decoration: none;
	font-weight: 700;
}

.pay-btn {
	color: white;
	background-color: hsl(245, 75%, 52%);
	padding: 0.8rem 1.3rem;
	border-radius: 15px;
	margin-bottom: 1.3rem;
	box-shadow: hsl(240, 83%, 65%) 0 10px 20px -10px;
}

.pay-btn:hover {
	background-color: hsl(249, 40%, 53%);
}

.cancel-btn {
	color: hsl(224, 23%, 55%);
}

.attribution {
	font-size: 11px;
	text-align: center;
	margin-bottom: 0.5rem;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 28em) {
	body {
		max-width: 1440px;
		background-image: url(../images/pattern-background-desktop.svg);
	}
	.card {
		margin: 2.5rem auto;
		max-width: 400px;
	}

	.content,
	.buttons {
		padding-right: 2rem;
		padding-left: 2rem;
	}

	.payments {
		margin-right: 2rem;
		margin-left: 2rem;
	}
}
