* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --white: hsl(0, 0%, 100%);
  --fw-200: 200;
  --fw-500: 500;
  --fw-700: 700;
  --fw-800: 800;
  --fs-1: 0.25rem;
  --fs-2: 0.5rem;
  --fs-3: 0.8125rem;
  --fs-4: 1rem;
  --fs-5: 1.25rem;
}


body {
  background-color: var(--light-grayish-blue);
  font-family: "Manrope", sans-serif;
}

img {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--white);
}


.card {
  background-color: white;
  margin: 1.5rem;
  border-radius: 0.5rem;
  overflow: hidden;

  .content {
    .content-head {
      margin: 2rem 2rem 0;
    }

    h1 {
      color: var(--dark-grayish-blue);
      font-size: var(--fs-4);
      font-weight: var(--fw-700);
      line-height: 1.5;
      word-spacing: 1.2px;
      margin: 0 0 1rem 0;
    }

    p {
      color: var(--desaturated-dark-blue);
      font-size: var(--fs-3);
      font-weight: var(--fw-500);
      line-height: 1.5;
      word-spacing: 1.5px;
      margin: 0 0 2rem 0;
    }

    .profile {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 2rem;

      .avatar {
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
          border-radius: 50%;
          width: 40px;
        }

        h2 {
          font-size: var(--fs-3);
          color: var(--dark-grayish-blue);
        }

        p {
          color: var(--grayish-blue);
          font-size: var(--fs-3);
          font-weight: var(--fw-500);
          line-height: 1.5;
          margin: unset;
        }
      }

      .share {

        display: flex;
        align-items: center;

        .share-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--light-grayish-blue);
          border-radius: 50%;
          border: none;
          padding: 0.5rem;
          transition: all 0.25s ease;
          z-index: 1;
        }

        .share-btn:hover,
        .share-btn.active {
          background: var(--desaturated-dark-blue);
          color: var(--light-grayish-blue);
        }

        .share-btn:hover svg path {
          fill: white
        }

        .share-popover {
          position: absolute;
          left: 0;
          display: flex;
          align-items: center;
          visibility: hidden;
          z-index: 1;
          padding: 0 0 0 2rem;
          gap: 1rem;

          p {
            margin: unset;
            letter-spacing: 3px;
          }

          a:hover {
            cursor: pointer;
          }

          a:hover svg path {
            filter: invert(0.85);

          }
        }

        .share-popover.active {
          visibility: visible;
        }
      }
    }

    .profile::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0;
      background-color: var(--dark-grayish-blue);
      transition: height 0.25s ease;
    }

    .profile.active::after {
      height: 100%;
    }


  }
}


@media screen and (width >=760px) {

  body {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    max-width: 730px;
    overflow: unset;

    .image {
      border-top-left-radius: 0.5rem;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
      overflow: hidden;
    }

    .image img {
      object-fit: cover;
      object-position: left;
    }

    .content {
      h1 {
        font-size: var(--fs-5);
      }

      p {
        margin: 0 0 0.5rem 0;
      }
    }
  }
}

@media screen and (width >=1024px) {

  .card {
    .content {
      .profile::after {
        width: 50%;
        transform: translate(280px, -80px);
      }

      .profile.active::after {
        height: 50px;
        width: 50%;
        border-radius: 0.5rem;
      }

      .profile::before {
        position: absolute;
        content: "";
        transform: translate(360px, -55px) rotate(45deg);
        width: 5%;
        height: 0;
        background-color: var(--dark-grayish-blue);
      }

      .profile.active::before {
        height: 50px;
      }

      .share-popover {
        transform: translate(305px, -68px);
        padding: unset !important;
      }

    }
  }
}