:root {
	--DarkCyan: hsl(158, 36%, 37%);
	--Cream: hsl(30, 38%, 92%);
	--VeryDarkBlue: hsl(212, 21%, 14%);
	--DarkGrayishBlue: hsl(228, 12%, 48%);
	--White: hsl(0, 0%, 100%);
	--fontPrimary: "Fraunces", serif;
	--fontSecundary: "Montserrat", sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--fontPrimary);
}

body {
	background-color: var(--Cream);
}

img {
	max-width: 100%;
}

picture {
	margin-bottom: -0.2rem;
}

.card {
	display: flex;
	flex-direction: column;
	margin: 2rem 1rem;
	border-radius: 10px;
	overflow: hidden;
}

/* .card-body {
	background-color: var(--White);
} */
.card-body {
	padding: 0 1.5rem 0 1.5rem;
	background-color: var(--White);
}

.card-head {
	font-family: var(--fontSecundary);
	color: var(--DarkGrayishBlue);
	margin: 1.55rem 0 0.9rem 0;
	font-weight: 500;
	letter-spacing: 0.38rem;
	/* margin-left: 1.5rem; */
}

.card-title {
	font-size: 2rem;
	line-height: 2rem;
	color: var(--VeryDarkBlue);
}

.card-content p {
	font-family: var(--fontSecundary);
	font-size: 0.85rem;
	color: var(--DarkGrayishBlue);
	margin-top: 1rem;
	line-height: 1.43rem;
	letter-spacing: 0.2px;
}

.card-price {
	display: flex;
	align-items: center;
	margin-top: 1.3rem;
}

.price-now {
	font-size: 2rem;
	margin-right: 1.2rem;
	color: var(--DarkCyan);
}

.price-before {
	font-family: var(--fontSecundary);
	font-weight: 500;
	font-size: 0.8rem;
	color: var(--DarkGrayishBlue);
	text-decoration: line-through;
}

.card-btn {
	color: var(--White);
	background-color: var(--DarkCyan);
	border: none;
	padding: 0.9rem;
	margin: 1rem 0 1.3rem 0;
	border-radius: 10px;
	width: 100%;
	font-family: var(--fontSecundary);
	font-weight: 700;
	font-size: 0.9rem;
}

.card-btn img {
	padding-right: 0.5rem;
}

.attribution {
	font-size: 13px;
	text-align: center;
	padding: 0.5rem;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 40em) {
	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
	}

	img {
		height: auto;
	}

	.container {
		justify-self: center;
		align-self: center;
	}

	.card {
		display: grid;
		grid-template-columns: 1fr 1fr;
		max-width: 600px;
	}

	.card-body {
		padding-left: 2rem;
	}

	.card-head {
		margin-top: 2.1rem;
	}

	.card-title {
		margin-top: 1.35rem;
		padding-right: 1.5rem;
	}

	.card-content p {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}

	.card-btn {
		margin-top: 1.7rem;
	}
}
