* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
}

img,
svg {
  max-width: 100%;
}

li {
  list-style: none;
}

:root {
  /* ###$ Primary */
  --light-red: 0, 100%, 67%;
  --Orangey-yellow: 39, 100%, 56%;
  --Green-teal: 166, 100%, 37%;
  --Cobalt-blue: 234, 85%, 45%;

  /* #### Gradients */

  /* --Background */

  --light-slate: 252, 100%, 67%;
  --light-royal: 241, 81%, 54%;

  /* --circle */
  --violet-blue: 256, 72%, 46%;
  --persian-blue: 241, 72%, 46%;

  /* ### Neutral */

  --white: 0, 0%, 100%;
  --pale-blue: 21, 100%, 96%;
  --light-lavender: 241, 100%, 89%;
  --dark-gray-blue: 224, 30%, 27%;
}

/* Movil first */

.results {
  display: flex;
  flex-direction: column;
  background: hsl(var(--light-royal));
  background: linear-gradient(0deg, hsl(var(--light-royal)), hsl(var(--light-slate)));
  border-radius: 0 0 35px 35px;
  text-align: center;
  color: hsla(var(--white), 0.7);
  padding: 1.43rem 0 2.5rem;
}

.results h1 {
  font-size: 1.125rem;
  font-weight: 500;
  margin-top: 0.1rem;
}

.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  border-radius: 50%;
  background: rgb(120, 87, 255);
  background: linear-gradient(0deg, hsla(var(--persian-blue), 0), hsla(var(--violet-blue), 1));
  aspect-ratio: 1/1;
  margin-top: 1.5rem;
}

.circle p:first-child {
  color: hsl(var(--white));
  font-size: 3.5rem;
  font-weight: 800;
  padding: 0;
  margin: 0 0 -1px 0;
}

.results h2 {
  color: hsl(var(--white));
  margin: 1.35rem 0 0.5rem 0;
  font-size: 1.5rem;
}

.results p {
  padding: 0 3rem;
}

/* -- Summary Section */

.summary {
  padding: 0 2.125rem;
}

.summary-title {
  margin-top: 1.5rem;
  color: hsl(var(--dark-gray-blue));
  font-size: 1.125rem;
}

.summary ul {
  margin-top: 1.5rem;
}

.summary ul li {
  display: flex;
  justify-content: space-between;
  padding: 1.1rem 1rem;
  border-radius: 10px;
  margin: 0 0 1rem 0;
}

.summary ul li:nth-child(1) {
  background-color: hsla(var(--light-red), 0.06);
}

.summary ul li:nth-child(2) {
  background-color: hsla(var(--Orangey-yellow), 0.08);
}

.summary ul li:nth-child(3) {
  background-color: hsla(var(--Green-teal), 0.06);
}

.summary ul li:nth-child(4) {
  background-color: hsla(var(--light-lavender), 0.2);
}

.summary-icon {
  display: flex;
  gap: 0.5rem;
}

.reaction .summary-icon p {
  color: hsl(var(--light-red));
  font-weight: 500;
}

.memory .summary-icon p {
  color: hsl(var(--Orangey-yellow));
  font-weight: 500;
}

.verbal .summary-icon p {
  color: hsl(var(--Green-teal));
  font-weight: 500;
}

.visual .summary-icon p {
  color: hsl(var(--Cobalt-blue));
  font-weight: 500;
}

.summary-scored p {
  color: hsl(var(--dark-gray-blue));
  font-weight: 800;
}

.summary-scored p span {
  color: hsla(var(--dark-gray-blue), 0.5);
}

button {
  margin: 0.5rem auto;
  color: white;
  background-color: hsl(var(--dark-gray-blue));
  border-radius: 30px;
  border: 1px solid hsl(var(--dark-gray-blue));
  padding: 0.92rem 0.45rem;
  width: 100%;
  font-size: 1.125rem;
  font-weight: 700;
}

footer {
  text-align: center;
  color: hsl(var(--Cobalt-blue));
}

footer a {
  color: hsl(var(--Orangey-yellow));
}

@media screen and (min-width: 600px) {
  body {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 736px;
    justify-content: center;
    align-content: center;
    margin: 0 auto 2rem auto;
    border-radius: 20px;
    box-shadow: 19px 21px 15px -3px hsl(234, 85%, 45%, 0.2);
  }

  .results {
    border-radius: 25px;
    padding: 1.43rem 0 1rem;
  }

  .results h1 {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .circle {
    margin-top: 2rem;
  }

  .circle p:first-child {
    font-size: 4.5rem;
    margin: 2.5rem 0 -1px 0;
  }

  .results h2 {
    margin: 2rem 0 0.5rem 0;
    font-size: 1.85rem;
    letter-spacing: 0.15rem;
  }

  .results p {
    padding: 0.5rem 3rem 2.5rem;
    font-size: 1.125rem;
  }

  .summary-title{
    font-size: 1.5rem;
    margin-top: 2.35rem;
  }

  button{
    margin: 1.65rem auto;
  }

  .summary ul{
    margin-top: 1.75rem;
  }
}
